<div class="text-center">
  <h1 class="text-4xl font-bold text-red-600">Gem Shop</h1>
  <div style="overflow: hidden; display: flex; justify-content:space-around; height:380px;">
    <%= image_tag 'headrails.png'%>
  </div> 
</div>