

<footer class="inset-x-0 top-0">
  <nav class="relative flex items-center justify-between w-full py-2 bg-green-600 shadow-md testclass navbar-expand-lg">
      <div class="items-center px-10 navbar-collapse grow" id="navbarSupportedContentY">
        <span class="block text-sm text-black-900 sm:text-center dark:text-black-900">© <%= Date.today.year %> <a href="https://rubyonrails.org/" class="hover:underline">Ruby on Rails</a></span>
      </div>
  </nav>
</footer>